@import url("https://fonts.googleapis.com/css?family=Poppins:300,400");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
/*font-family: 'Poppins', sans-serif;*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
  animation: fadeout 11s linear forwards;
}

.loading h2 {
  color: #000;
}

.loading .bar {
  position: relative;
  width: 400px;
  height: 40px;
  background: transparent;
  margin: 0 20px;
  border: 2px solid #000;
  box-sizing: border-box;
}

.loading .bar:after {
  content: "Loading...";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  line-height: 36px;
  color: #fff;
  font-size: 20px;
  mix-blend-mode: difference;
}

.loading .bar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transform-origin: left;
  animation: animates 10s linear forwards;
}


@keyframes animates {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes fadeText {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0%,
  91% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg,#111,#222,#111);
}
section::before{
  content: '';
  position: absolute;
  width: 30vw;
  height: 30vw;
  border: 5vw solid #ff1062;
  border-radius: 50%;
  box-shadow: 0 0 0 1vw #222,
              0 0 0 1.3vw #fff;
}
.h2_main{
  position: absolute;
  font-size: 9vw;
  color: #fff;
  text-align: center;
  line-height: 2em;
  z-index: 10;
  transform: skewY(-7deg);
  text-shadow: 1px 1px 0 #ccc,
  2px 2px 0 #ccc,
  3px 3px 0 #ccc,
  4px 4px 0 #ccc,
  5px 5px 0 #ccc,
  10px 10px 0 rgba(0, 0, 0, 0.2);
  animation: floating 5s ease-in-out infinite;
}
.h2_main span{
  font-weight: 700;
  font-size: 3em;
  text-shadow: 1px 1px 0 #ccc,
  2px 2px 0 #ccc,
  3px 3px 0 #ccc,
  4px 4px 0 #ccc,
  5px 5px 0 #ccc,
  6px 6px 0 #ccc,
  7px 7px 0 #ccc,
  8px 8px 0 #ccc,
  9px 9px 0 #ccc,
  20px 20px 0 rgba(0, 0, 0, 0.2);
}
@keyframes floating{
  0%,100%{
    transform: skewY(-7deg) translate(0,-20px);
  }
  50%{
    transform: skewY(-7deg) translate(0,20px);
  }
}
section i{
  position: absolute;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px #fff,
  0 0 20px #fff,
  0 0 40px #fff,
  0 0 80px #fff;
  animation: animate linear infinite;
}
@keyframes animate{
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@media screen and (max-width: 480px){
  .loading .bar {
    width: 155px;
    height: 20px;
    
  }
  .loading h2 {
    font-size: 20px;
  }
  .loading .bar:after {
    top: -10px;
    font-size: 8px;
  }
}
